* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

p {
  font-size: 16px;
  line-height: 1.6em;
  color: #16181e;
}

header {
  background-color: transparent;
  margin-top: 0;
  position: fixed;
}

header .navbar {
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo {
  margin: 5px  0 0 0;
}

header .navbar .logo .link {
  text-decoration: none;
  color: #16181e;
}

header .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .nav-items .nav-item {
  list-style: none;
  text-transform: capitalize;
  margin: 10px;
}

header .navbar .nav-items .nav-item .link {
  text-decoration: none;
  color: #16181e;
  font-weight: 900;
  font-size: 16px;
}

header .navbar .nav-items .nav-item .link:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #16181e;
}

header .navbar .nav-items .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #16181e;
}

header .navbar .socialIcons {
  margin-right: 0;
}

header .navbar .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .socialIcons ul li {
  list-style: none;
  text-decoration: none;
  color: #fb6c6d;
  font-weight: 900;
  font-size: 16px;
  margin: 1rem;
}

header .navbar .socialIcons ul li:hover {
  color: #F44336;
}

.homePage {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.homePage-contant {
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage-contant h1 {
  font-size: 200%;
  color: #16181e;
}

.homePage-contant .contact-btn {
  margin: 1rem;
}

.homePage-contant .contact-btn .btn {
  outline: none;
  border: 2px solid #16181e;
  background-color: transparent;
  color: #16181e;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 0.5rem;
}

.homePage-contant .contact-btn .btn:hover {
  background-color: #ffffff;
  color: #16181e;
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .header-contant {
  padding-left: 5%;
  margin-bottom: 1rem;
  text-align: left;
}

.projects .header-contant p {
  font-weight: 900;
}

.projects .cards {
  padding: 0 4px;
  background-color: transparent;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.projects .cards .card {
  width: 80%;
  height: 200px;
  background-color: #fb6c6d;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 2rem;
  -webkit-box-shadow: 0px 7px 8px 0px #1617183d;
          box-shadow: 0px 7px 8px 0px #1617183d;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.projects .cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .cards .card .preview {
  outline: none;
  border: none;
  background-color: #16181e;
  color: #fefefe;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.projects .cards .card .preview i {
  font-weight: 900;
}

.projects .cards .card .preview:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .cards .card .title {
  margin: 1.5rem 0;
  padding-right: 2rem;
  font-size: 100%;
}

.projects .cards .card .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .cards .card .btn-item {
  outline: none;
  border: none;
  background-color: #16181e;
  color: #fefefe;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.projects .cards .card .btn-item a {
  text-decoration: none;
  color: #ffffff;
}

.projects .cards .card .btn-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .cards .card .btn .arrow {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 1rem;
  margin: 0 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.projects .cards .card .btn .arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 936px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects .cards .card .title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 517px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .projects .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contact .contact-section .contact-text {
    font-size: x-small;
  }
  .footer .footer-contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer-contant .footer-section {
    margin-top: 1rem;
  }
}

.work {
  background: transparent;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-section .work-text {
  text-align: center;
}

.work-section .work-btn {
  margin-top: 1rem;
}

.work-section .work-btn .btn {
  outline: none;
  border: none;
  background-color: #fb6c6d;
  color: #16181e;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-section .work-btn .btn i {
  font-weight: 900;
}

.work-section .work-btn .btn:hover {
  background-color: #F44336;
  color: #16181e;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background: #9da6b642;
  margin-top: auto;
}

.footer-contant {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-contant .logo {
  margin: 1rem;
  font-size: 24px;
  padding-left: 1rem;
}

.footer-contant .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contant .footer-section a {
  margin: 0 0.5rem;
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #fb6c6d;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-contant .footer-section a:hover {
  color: #F44336;
}

body {
  background-color: #ffffff;
}

.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
