// $bg-color: #ddd4ca;
$font-color: #161718;
$main-color: #eec97e;
$bg-color: #f7f5e8;
$card-1:#fbbaa6;
$card-2:#fefefe;
$card-3:#f3cd82;
$set-transition: all 0.2s linear; 
// projects #fbbaa6  #fefefe  #f3cd82


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    line-height: 1.15;
    text-size-adjust: 100%; 
}
p{
    font-size: 16px;
    line-height: 1.6em;
}