// $bg-color: #ddd4ca;
$font-color: #16181e;
$logo-press-color: #F44336;
$main-color: #eec97e;
$bg-color: #ffffff;
$logo-color: #fb6c6d; 
$set-transition: all 0.2s linear; 
$footer-color: #9da6b642;
$card-1: #fb6c6d;
// projects #fbbaa6  #fefefe  #f3cd82


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    line-height: 1.15;
    text-size-adjust: 100%; 
}
p{
    font-size: 16px;
    line-height: 1.6em;
    color: $font-color;
}